
h1{
    text-align: center;
    font-family: sans-serif;
    }

.panel div {
    border-radius: 8px;
    text-align: center;
    max-width: 20em;
    background-color: plum;
    display: flex;
    gap: 2px;
    padding-block: 1px;
    margin: auto;
}
span {
    background-color:black;
    height: 60px;
    width: 60px;
    text-align: center;    
    border: solid 1px black;
    border-radius: 8px;
}

p{  color:white;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* text-align: center; */
    font-weight: bolder;
}

.enter{
    display: flex;
    width: 30vw;
    height: 2em;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    background-color: plum;
    border-radius: 8px;
    justify-content: center;
}

input{
    border-radius: 8px;
    height: auto;
    border: none;
    width: 200px;
    text-align: center;
    font-weight: bolder;
    font-family: sans-serif;
    font-size: 1rem;
    box-shadow:2px 5px 10px rgba(0, 0, 0, 0.342);
}

div>h3{
    display: none;
}