body{
    background-color: #fafafa;
}
h1 {
    
    text-align: center;
    font-family: sans-serif;
}

.panel{
    /* background-color: #004643; */
    width: 20em;
    margin: auto;
    padding: 10px;
    border-radius: 8px;
    backdrop-filter: blur(8px);
    filter: drop-shadow(8px 6px 8px);
}
.panel div {
    border-radius: 8px;
    text-align: center;
    max-width: 20em;
    display: flex;
    gap: 2px;
    padding-block: 2px;
    
}

span {
    background-color: rgba(0, 0, 0, 0.452);
    height: 60px;
    width: 60px;
    text-align: center;
    /* border: solid 1px black; */
    border-radius: 8px;
}

span>p {
    color: white;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* text-align: center; */
    font-weight: bolder;
}

.enter {
    display: flex;
    width: 30vw;
    height: 2em;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    background-color: plum;
    border-radius: 8px;
    justify-content: center;
}

input {
    border-radius: 8px;
    height: auto;
    border: none;
    width: 200px;
    text-align: center;
    font-weight: bolder;
    font-family: sans-serif;
    font-size: 1rem;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.342);
}

/* .hint-panel {
    display: flex;
    margin: 0 60vh;
    width: auto;
    float: left;
    position: absolute;
}

.hint-content {
    align-content: center;
    padding: 0 20px;

} */