@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&family=Outfit:wght@100..900&display=swap');

:root {
    --primary-color: #004643a4;
    --complement-color: #fafafa;
    /* Global variable */
}

html {
    background-image: url(wordle-bg.webp);
    background-size: cover;
    background-repeat: none;
    /* background-position: center; */
}

* {
    font-family: sans-serif;
}

header {
    margin-bottom: 25px;
}

/* body {
    background-image: linear-gradient(45deg, rgb(166, 255, 240), rgb(208, 255, 231));
} */

h1 {
    /* Wordle */
    color: lemonchiffon;
    text-shadow: 0 0px 10px black;
    font-size: 7rem;
    margin-block: 0px;
    text-align: center;
    font-family: "Changa One", sans-serif;
}

.subhead-container {
    display: flex;
    width: 420px;
    margin: auto;
    margin-top: -10px;
    justify-content: right;
}

.subHead {
    /* clone */
    background-color: #004643;
    border-radius: 4px;
    padding-inline: 5px;
    color: whitesmoke;
    font-family: "Outfit", sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    margin: 0;
}

.panel {
    background-color: var(--primary-color);
    width: 20em;
    margin: auto;
    padding-block: 5px;
    border-radius: 8px;
    backdrop-filter: blur(8px);
    filter: drop-shadow(0px 0px 8px);
    anchor-name: --panel;
    display: grid;
    justify-content: center;

}

.panel>div {
    border-radius: 8px;
    text-align: center;
    max-width: 20em;
    display: flex;
    gap: 2px;
    padding-block: 2px;


}

span {
    background-color: rgba(0, 0, 0, 0.267);
    height: 60px;
    width: 60px;
    text-align: center;
    /* border: solid 1px black; */
    border-radius: 8px;

}

span>p {
    color: white;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* text-align: center; */
    font-weight: bolder;
    text-shadow: 0 0 1px;
}

.enter {
    display: flex;
    width: 30vw;
    height: 2em;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    background-color: #00464379;
    backdrop-filter: blur(8px);
    border-radius: 8px;
    justify-content: center;
}

input {
    border-radius: 8px;
    height: auto;
    border: none;
    width: 200px;
    text-align: center;
    font-weight: bolder;
    font-family: sans-serif;
    font-size: 1rem;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.342);
}


div>.hint-panel {
    display: block;
    position: absolute;
    /* position-anchor: panel;
    position-area: left;
    right:anchor(left); */
    font-family: 'Times New Roman', Times, serif;
    border: solid 2px #0046436e;
    border-radius: 8px;
    border-style: dashed;
    padding: 10px;
    height: 20px;
    width: 200px;
    background-color: var(--primary-color);
    backdrop-filter: blur(5px);
    left: -15em;


}

.show-hint {
    position: absolute;
    top: 8px;
    right: 15px;
    border-radius: 15px;
    border: none;
    height: 25px;
    color: white;
    background-color: rgba(255, 255, 255, 0);

}

.show-hint:hover {
    cursor: pointer;
    /* box-shadow: 0px 1px 2px; */
    transition: background-color 0.2s ease-in-out;
    background-color: #00252493;
}

.show-hint:active {
    transform: translateY(1px);
}


.hint-head {
    margin: 0px;
    padding: 0 auto;
    color: var(--complement-color);
    text-align: left;
    text-shadow: 0 2px 9px #002524;
    font-family: "Outfit", sans-serif;
}


.hint-content,
hr {
    color: whitesmoke;
    display: none;
    font-size: large;
    font-family: "Outfit", sans-serif;
}

hr {
    /* border:1px dashed rgb(202, 202, 202); */
    border: none;
    background-color: #004e4c;
    height: 2px;
}

footer {
    display: flex;
    justify-content: center;
}


@media (max-width: 480px) {
    div>.hint-panel {
        display: block;
        position: sticky;
        position-area: center;
        font-family: 'Times New Roman', Times, serif;
        border: solid 2px #004643a4;
        border-radius: 8px;
        border-style: dashed;
        padding: 10px;
        height: 20px;
        width: auto;
        background-color: var(--primary-color);
        backdrop-filter: blur(8px);
        margin: 0 0 10px 0;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    }

    .enter,
    .input {
        width: auto;
        margin: 20px;

    }

    h1 {
        /* Wordle */
        font-size: 5rem;
        margin-bottom: 0px;
        text-align: center;
        font-family: "Changa One", sans-serif;
    }

    .subhead-container {
        display: flex;
        width: 300px;
        margin: auto;
        margin-top: -10px;
        justify-content: right;
    }

    .subHead {
        /* clone */
        background-color: #004643;
        border-radius: 4px;
        padding: 2px;
        color: white;
        font-family: "Outfit", sans-serif;
        font-weight: bold;
        font-size: 1.3em;
        margin: 0;
    }
}