:root {
    --primary-color: #004643a4;
    /* Global variable */
}

body {
    background-color: #fafafa;
}

h1 {

    text-align: center;
    font-family: sans-serif;
}

.panel {
    background-color: var(--primary-color);
    width: 20em;
    margin: auto;
    padding: 10px;
    border-radius: 8px;
    backdrop-filter: blur(8px);
    filter: drop-shadow(0px 0px 8px);
    anchor-name: --panel;

    
}

.panel div {
    border-radius: 8px;
    text-align: center;
    max-width: 20em;
    display: flex;
    gap: 2px;
    padding-block: 2px;
    

}

span {
    background-color: rgba(0, 0, 0, 0.452);
    height: 60px;
    width: 60px;
    text-align: center;
    border: solid 1px black;
    border-radius: 8px;
    
}

span>p {
    color: white;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* text-align: center; */
    font-weight: bolder;
}

.enter {
    display: flex;
    width: 30vw;
    height: 2em;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    background-color: plum;
    border-radius: 8px;
    justify-content: center;
}

input {
    border-radius: 8px;
    height: auto;
    border: none;
    width: 200px;
    text-align: center;
    font-weight: bolder;
    font-family: sans-serif;
    font-size: 1rem;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.342);
}

/* .hint-panel {
    display: flex;
    margin: 0 60vw;
    width: 35vw;
    height: 30vh;
    position: absolute;
}

} */

.hint-panel {
    position: absolute;
    position-anchor: panel;
    /* position-area: left; */
    right:anchor(left);
    font-family: 'Times New Roman', Times, serif;
    border: solid 2px #004643a4;
    border-radius: 8px;
    border-style: dashed;
    padding: 10px;
    width: 200px;
    background-color: var(--primary-color);
    backdrop-filter: blur(8px);
}

/* .hint-head::after {
    content: "";
    background-color: blue;
    height: 20px;
    width: 40px;
    display: block;
    position: absolute;
    top: 12px;
    right: 15px;
    border-radius: 50px;
} */

.show-hint {
    position: absolute;
    top: 8px;
    right: 15px;
    border-radius: 4px;
    border: none;
    height: 25px;

}

.show-hint:hover {
    cursor: pointer;
    box-shadow: 0px 1px 2px;
    transition: box-shadow 0.2s;
}

.show-hint:active {
    transform: translateY(1px);
}


.hint-head {
    margin: 0px;
    padding: 0 auto;
    color: #004643;
}


.hint-content {
    display: block;
}