.toggle {
    position: absolute;
    display: block;
    width: 50px;
    right: 2px;
    margin: 2 0;

}

label>input {
    display: none;
}


.slider::before {
    content: "";
    position: absolute;
    background-color: white;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    left: 3px;
    top: 3px;
    transition: 0.3s
}

.slider {

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 25px;
    background-color: grey;
    width: 50px;
    height: 26px;
    transition: 0.3s;

}


input:checked+.slider {
    background-color: #4caf50;
}

input:checked+.slider::before {
    transform: translateX(24px);
}

@media (prefers-color-scheme:dark) {
    body {
        /* color: white; */
        /* background-color: black; */
    }
}
